---
import Layout from '@/layouts/Layout.astro';

// Components
import About from '@/components/about.astro';
import Certification from '@/components/certification.astro';
import Experience from '@/components/experience.astro';
import Hero from '@/components/hero.astro';
// import Projects from '@/components/projects.astro';
import Skills from '@/components/skills.astro';
---

<Layout title='Portafolio de'>
	<Hero />
	<main>
		<About />
		<Experience />
		<Certification />
		<!-- <Projects /> -->
		<Skills />
	</main>
</Layout>
