---
import Layout from '@/layouts/Layout.astro';

// Components
import About from '@/components/about.astro'
import Education from '@/components/education.astro'
import Experience from '@/components/experience.astro'
import Hero from '@/components/hero.astro'
import Projects from '@/components/projects.astro'
import Skills from '@/components/skills.astro'
import KeyboardManager from '@/components/keyboardManager.astro'
---

<Layout title="Portafolio Jose Luis Parra Sánchez">
	<Hero />
	<main>
		<About />
		<Experience />
		<Education />
		<Projects />
		<Skills />
	</main>
	<KeyboardManager />
</Layout>
