---
interface Props {
	title?: string;
	class?: string;
}

const { title, class: customClass = '' } = Astro.props;
---

<section class={`group/section py-8 ${customClass}`}>
	{title && <h4 class='mb-4'>{title}</h4>}
	<slot />
</section>
